* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    background: #120a4e;
    /* background: linear-gradient(246deg, rgba(58,193,15,1) 0%, rgba(0,221,255,1) 100%); */
    border-bottom: 6px solid #59fb5c;
}

header .row {
    font-size: 20px;
    padding: 1rem;
}

#header-logo {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
}

#header-logo img {
    width: 50%;
}

#header-search-col .btn  {
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
    background: #59fb5c;
    outline: 4px solid #fff;
    color: #6717cd;
    font-size: 1.4rem;
    font-weight: 700;
}

#header-search-col .btn i{
    margin-right: 1rem;
}

#header-search-input  {
    padding-top: 3rem;
}


#header-search-input input {
    border-radius: 4px;
}

#header-search-input .btn {
    margin-left: 1rem;
    background-color: #fff;
}


#col-events {
    padding: 1rem;
}

.home-event-post {
    padding: 1.4rem;
    background-color: #f3f3f3;
    border-radius: 10px;
    /*outline:1px solid #a7a7a7;*/
    margin: 2rem 1rem;
}

.home-event-post:hover {
    background-color: #f4f4f4;
    outline:1px solid #6717cd;
    
    -webkit-box-shadow: 0px 0px 12px 1px rgb(146, 79, 233);
    -moz-box-shadow: 0px 0px 12px 1px rgb(135, 60, 234);
    box-shadow: 0px 0px 12px 1px rgb(172, 109, 255);
    transition: .1s;
   
    
}

.event-post-user {
    position: relative;
    display:flex;
    justify-content: flex-start;
    margin: 0;
}

.event-post-user-img {
    width: auto;
    height: auto;
    padding: 1rem;
    padding-bottom: 0;
    margin: 0;
}

.event-post-user-img img {
    height: 64px;
    
}

.event-post-user-text {
    margin-top: .8rem;
    margin-left: 1rem;
    justify-content: center;
    font-size: 1.2rem;
}

.event-post-user-text a{
   text-decoration: none;
   font-weight: 600;
   font-size: 1.4rem;
}

.event-post-user-text p{
    font-style: italic;
    font-weight: 200;
 }

.event-post-text {
    padding: 1rem;
    padding-bottom: 0;
    margin: 0;
}

.event-post-text #event-info {
    font-size: 2rem;
}

.home-event-post i{
    margin-right: .6rem; 
}

.event-tag-text {
    padding: .4rem .6rem;
    border-radius: 5px;
    outline: 1px solid #a7a7a7;
}

#event-location-text {
    background-color: #c9ffd1;
}

#event-attendee-text {
    background-color: #7ceef4;
}

#event-mentor-text {

    background-color: #d3fa84;
}

#event-expectlist-text {
    background-color: #f8cbff;
}

.event-post-buttons {
    margin: 0;
    padding: 1rem;
    
}

.event-post-buttons .btn, .modal-body .btn{
    background-color: #59fb5c;
    outline: 1px solid #2a631c;
    font-size: 20px;
    margin-right: .8rem;
    margin-top: 1rem;
}


#singlePostComments .btn {
    background-color: #59fb5c;
    outline: 1px solid #2a631c;
    font-size: 20px;
    margin: .2rem 0;
}

.buttonCreateMeeting {
    background-color: #f5f5f5;
    color:#6717cd;
    padding: .8rem;
    font-weight: 700;
    float: center;
    margin: 1rem .8rem 0 1rem;
    outline:2px solid #59fb5c;
    font-size: 1.4rem;
    width: 100%;
    border-radius: 5px;
    font-style: italic                                                                                                                                                                               ;
}


#buttonCreateMeeting {
    background-color: #59fb5c;
    color:#6717cd;
    padding: .8rem;
    font-weight: 700;
    float: center;
    margin: 1rem .8rem 0 1rem;
    outline:2px solid #6717cd;
    font-size: 1.4rem;
    width: 100%;
}

#buttonCreateMeeting:hover {
    background-color: #6717cd;
    color:#59fb5c;
    outline:2px solid #59fb5c;
}

#buttonCreateMeeting i{
    margin-right: 1rem;
    
}

#user_form select.form-class-selector {
    width: 100%;
    padding: 6px 0;
    border-radius: 5px;
}

.event-post-buttons .btn:hover {
    background-color: #52a33e;
}

.right-menu-ul {
    padding: 3rem 0;
    list-style: none;
    
}

.right-menu-ul a {
    text-decoration: none;
    

}

.right-nav-list {
    background-color: #f5f5f5;
     color:#6717cd;
    margin-top: 0;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 8px;
    

}

.right-nav-list li {
    padding: 1.6rem 2rem;
    color:#6717cd;
    border-radius: 8px;
}

.right-nav-list li:hover {
    border-radius: 8px;
    background-color: #e0e0e0;
    outline: 1px solid #006408;
}

.right-nav-list li i {
    margin-right: 2rem;
    color: #000;
}



/* .right-menu-ul li{
    background-color: #f5f5f5;
    color:#6717cd;
    padding: 1rem 3rem;
    margin: 1rem 0;
    margin-top: 0;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 8px;
}

.right-menu-ul li i {
    margin-right: 2rem;
    color: #000;
}

.right-menu-ul li:hover{
    background-color: #e0e0e0;
    outline: 1px solid #006408;
} */

.modal-body label {
    color:#6717cd;
    font-size:1.2rem;
    font-weight: 600;
}

.warning-input {
    background-color: #ecff5e;
    padding: 4px;
    font-weight: 400;
    border-radius: 5px;
    outline: 1px solid #6717cd;
    margin: 4px 0;
}


/**            Profile Page               **/

#profile-page  {
    padding: 10px;
}

.profile-page-head {
    padding: 20px;
    background: linear-gradient(246deg, rgba(58,193,15,1) 0%, rgba(0,221,255,1) 100%);
    border-radius: 25px;
}

#profile-page  #profile-name-text {
    margin-top: 20px;
}


#profile-page  #profile-name-text h3{
    font-size: 48px;
    color: white;
}


#profile-page #profile-pic img {
    width: 220px;
    outline: 3px solid #6717cd;
    border-radius: 10px;

}

#profile-button-options button{
    font-weight: 600;
    margin:12px;
    text-decoration: none;
    font-size: 14px;
}

#profile-button-options button:hover {
    background-color: #c0ec69;
    transition: 1s;
}

#profile-button-options button a{
    
    text-decoration: none;
    color: #000;
}

#profile-button-options .btn{
    background-color: rgb(251, 251, 251);
    outline:3px solid #59fb5c;
}

#profile-name-text a {
    color:red;
    text-decoration: none;
}

/* #profile-name-text i{
    color:purple;
} */








 /** Login - Index **/

#maincontainer-index{
    padding: 2rem;
}

#row-login {
    padding: 3rem;
}

#row-login  {
    font-weight: 700;
    font-size: 16px;
}


#row-login input {
    margin-bottom: 1.2rem;
}

#row-login button {
    margin-top: 4px;
    padding: .4rem 3rem;
    background-color: #120a4e;
    color: #59fb5c;
    font-weight: 700;
    outline: 2px solid #59fb5c;
}

#row-about,  #row-faq, #row-register {
    text-align: center;
    padding: 3rem;
    margin-top: 3rem;
    box-shadow: 0 2px 0 #6717cd inset;
    box-shadow: 2px 4px 0 #59fb5c inset;
}


#row-register input, .form-group {
    margin-bottom: 10px;
    font-weight: 700;
}


#row-register .col-md-6 {
    text-align: left;

}



/**            Profile Page               **/

#profile-page  {
    padding: 10px;
    margin-top: 40px;
}

.profile-page-head {
    padding: 20px;
    background: linear-gradient(0, rgb(89, 38, 93) 0%, rgb(0, 5, 94) 100%);
    border-radius: 10px;
}

#profile-name-text h4 {
    color: #59fb5c ;
}


.page-bio {
    padding: 20px;
    background: linear-gradient(0, rgb(255, 255, 255) 0%, rgb(201, 255, 190) 100%);
    border-radius: 10px;
    margin: 20px 0;
    outline: 1px solid #6717cd;
}

.page-sites {
    padding: 20px;
    background: linear-gradient(0, rgb(255, 255, 255) 0%, rgb(201, 255, 190) 100%);
    border-radius: 10px;
    margin: 20px 0;
    outline: 1px solid #6717cd;
    font-weight: 700;
}

.page-sites h3, .profile-page-edit h3 {
    margin-left: 2rem;
    color: #120a4e;
}

.profile-page-edit form {
    margin-left: 1.6rem;
}


.page-sites a{
    text-decoration: none;
    font-size: 2rem;
    color: #120a4e;
}

.page-sites a:hover{
    color: #6717cd;
    transition: 0.4s;
}

.profile-page-edit {
    padding: 20px;
    background: linear-gradient(0, rgb(255, 255, 255) 0%, rgb(201, 255, 190) 100%);
    border-radius: 10px;
    margin: 20px 0;
    outline: 1px solid #6717cd;
}

.profile-page-edit form input {
    padding: .2rem .4rem;
    border-radius: 5px;
}

/* .small-profile-pic {
    width:64px;
    height: 64px;
    background-color:rgb(0, 0, 0);
} */


/** Attendee List **/

.attendee-list li a {
    font-size: 20px;
    color: #6717cd;
}



/** Comments **/

.single-comment {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    outline:1px solid rgba(189, 227, 143, 0.869);
    border-radius: 5px;
    margin-bottom: 5px;
}

/** FAQ **/

.row-faq-questions {
    justify-content: left;
    text-align: left;
}

.row-faq-questions ul li{
    font-weight: 800;
    font-size: 1.8rem;
    /* list-style: circle; */
}


#col-events #category-title {
    font-size: 24px;
    color: #6717cd;
    font-weight: 700;
    text-align: center;
}
@media  (max-width: 1200px) { 
    .event-post-buttons button  {
        margin-bottom: 10px;
    }
}
